{% extends "base.html" %}

{% block title %}Plan meal{% endblock %}

{% block content %}
<h1>Planned meal</h1>
<form action="" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.meal_name.errors }}
  <p>Meal: <input name="meal_name" {% if form.meal_name.value != None %} value="{{ form.meal_name.value }}"{% endif %}></p>
  {{ form.comment.errors }}
  <p>Comment: <textarea name="comment">{% if form.comment.value != None %}{{ form.comment.value }}{% endif %}</textarea></p>
  <p><input type="submit" value="{% if new %}Create{% else %}Update meal{% endif %}"></p>
</form>

{% if not new %}
<form action="{% url 'meal_dishes' plan.id meal.id %}" method="post">
  {% csrf_token %}
  {% for dish in dishes %}
  <p>
    {{ dish.recipe.name }}
    <input type="number" name="quantity_{{ dish.id }}" value="{{ dish.quantity }}" step="0.1">
  </p>
  <p><input type="submit" value="Update quantities"></p>
  {% endfor %}
</form>
<form action="{% url 'meal_add_dish' meal.plan.id meal.id %}" method="post">
  {% csrf_token %}
  <p>
    <select name="recipe">
      {% for recipe in recipes %}
      <option value="{{ recipe.id }}">{{ recipe.name }}</option>
      {% endfor %}
    </select>
    <input type="number" name="quantity" step="0.1"><input type="submit" value="Add">
  </p>
</form>
{% endif %}
{% endblock %}
