{% extends "base.html" %}

{% block title %}Plan - {{ plan.name }}{% endblock %}

{% block content %}
<h1>Plan: {{ plan.name }}</h1>
<p><a href="{% url 'edit-plan' plan.id %}">Edit plan</a></p>
<div style="display: flex; flex-direction: row; justify-content: space-around;">
  <p><a href="{% url 'plan_date' plan.id prev_week %}">Previous week</a></p>
  <p>{{ date }}</p>
  <p><a href="{% url 'plan_date' plan.id next_week %}">Next week</a></p>
</div>

<table style="width:100%;">
  <thead>
  <tr>
    <th style="border: 1px solid black;">Monday {{ days.0.date.day }}</th>
    <th style="border: 1px solid black;">Tuesday</th>
    <th style="border: 1px solid black;">Wednesday</th>
    <th style="border: 1px solid black;">Thursday</th>
    <th style="border: 1px solid black;">Friday</th>
    <th style="border: 1px solid black;">Saturday</th>
    <th style="border: 1px solid black;">Sunday</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    {% for day in days %}
    <td style="border: 1px solid black;">
      <ul>
        {% for meal in day.meals %}
        <li><a href="{% url 'meal' plan.id meal.id %}">{{ meal.meal_name }}</a></li>
        {% empty %}
        <li><a href="{% url 'new-meal' plan.id day.date %}">Add a meal</a></li>
        {% endfor %}
      </ul>
    </td>
    {% endfor %}
  </tr>
  </tbody>
</table>
{% endblock %}
