{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<h2>Your recipes:</h2>
<p><em>List of your recipes here, with search.</em></p>
<ul>
  {% for recipe in recipes %}
  <li><a href="{% url 'recipe' recipe.id %}">{{ recipe.name }}</a></li>
  {% endfor %}
  <li><a href="{% url 'new-recipe' %}">Add a new recipe</a></li>
</ul>

<h2>Your plans:</h2>
<ul>
  {% for plan in plans %}
  <li><a href="{% url 'plan' plan.id %}">{{ plan.name }}</a></li>
  {% endfor  %}
  <li><a href="{% url 'new-plan' %}">Add a new meal plan</a></li>
</ul>
<p><em>Add a button to get a shopping list from one or more plans (and a given inventory).</em></p>

<h2>Your inventories:</h2>
<p><em>Link to your inventories here.</em></p>
{% endblock %}
