{% extends "base.html" %}

{% block title %}Login or register{% endblock %}

{% block content %}
<h1>Login or register here</h1>
<form action="{% url 'login' %}?next={{ next }}" method="post">
  {% csrf_token %}
  <input name="username">
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>
{% endblock %}
