{% extends "base.html" %}

{% block title %}Recipe - {{ recipe.name }}{% endblock %}

{% block content %}
<h1>Recipe: {{ recipe.name }}</h1>
<form action="" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.name.errors }}
  <p>Name: <input name="name" {% if form.name.value != None %} value="{{ form.name.value }}"{% endif %}></p>
  {{ form.description.errors }}
  <p>Description: <textarea name="description">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea></p>
  {{ form.instructions.errors }}
  <p>Instructions: <textarea name="instructions">{% if form.instructions.value != None %}{{ form.instructions.value }}{% endif %}</textarea></p>
  <p><input type="submit" value="{% if new %}Create{% else %}Update recipe{% endif %}"></p>
</form>

{% if not new %}
<form action="{% url 'recipe-ingredients' form.instance.id %}" method="post">
  {% csrf_token %}
  {% for ingredient in recipe_ingredients %}
  <p>
    {{ ingredient.ingredient.name }}
    <input type="number" name="quantity_{{ ingredient.id }}" value="{{ ingredient.quantity }}" step="0.1">
  </p>
  {% endfor %}
  <p><input type="submit" value="Update quantities"></p>
</form>
<form action="{% url 'recipe-add-ingredient' form.instance.id %}" method="post">
  {% csrf_token %}
  <p>
    <select name="ingredient">
      {% for ingredient in ingredients %}
      <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
      {% endfor %}
    </select>
    <input type="number" name="quantity" step="0.1">
    <input type="submit" value="Add">
  </p>
</form>
{% endif %}
{% endblock %}
