{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Welcome!</h1>

<p>This is a work in progress, but it will be awesome.</p>

<p><a href="{% url 'login' %}">Login or register</a> to get started.</p>
{% endblock %}
